<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
    <h1>Job Search Platform</h1>
    <form action="/logout" method="post" class="logout">
        <button type="submit">Logout</button>
    </form>
    <form action="/search" method="post">
        <div class="container-fluid">
            <h2>Search</h2>
            <input type="text" name="category" id="category" placeholder="Category">
            <br>
            <input type="number" name="count" id="count" placeholder="Count">
            <button>Search</button>
            <%if (result.length != 0){%> 
                <table>
                    <tr>
                    <th >Category </th>
                    <th >job_title </th>
                    <th >company_name </th>
                    <th >city </th>
                    <th >salary_offered </th>
                    <th >url </th>
                    <th >Save job</th>
                    <%if (isAdmin == 1){%>
                        <th >Delete Vacancy </th>
                    <%}%>
                    </tr>

                    <% result.forEach( (elm) => { %>
                    <tr>
                        <td ><%= elm.category %></td>
                        <td><%= elm.job_title %></td>
                        <td ><%= elm.company_name %></td>
                        <td ><%= elm.city %></td>
                        <td ><%= elm.salary_offered %></td>
                        <td><a href="<%= elm.url%>">Job Link</td>
                        <td><a href="/save/<%=elm.id%>">Save job</td>
                        <%if (isAdmin == 1){%>
                            <td><a href="/delete/<%=elm.id%>">Delete</td>
                        <%}%>
                    </tr>
                    <%}) %> 
                </table> 
                
            <%} %>
        </div>
    </form>
</body>
</html>

