<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <style>
        .container{
            width: 200px;
            text-align: center;
        }
        .container2{
            width: 200px;
            text-align: center;
            text-decoration: green;
        }
    </style>
</head>
<body>
    <h1>Job Search Platform</h1>
    <form action="/index">
        <div class="container">
            <button type="submit">Back to Index</button>
        </div>
    </form>
    <div class="container-fluid">
        <h2>Users</h2>
        <%if (message){%>
            <div class="container2">
                <p class="succes"><%= message%></p>
                
            </div>
        <%}%>
        <%if (result.length != 0){%> 
            <table>
                <tr>
                <th> Id</th>
                <th >Name </th>
                <th >Surname </th>
                <th >Email </th>
                <th >Make Admin</th>
                </tr>

                <% result.forEach( (elm) => { %>
                <tr>
                    <td><%= elm.id%></td>
                    <td ><%= elm.name %></td>
                    <td><%= elm.surname %></td>
                    <td ><%= elm.email %></td>
                    <form action="/makeAdmin/<%= elm.id%>" method="post">
                        <td><button>Make Admin</button></td>
                    </form>
                    
                </tr>
                <%}) %> 
            </table> 
            
        <%} %>
    </div>
</body>
</html>

